
lesson1/.ipynb_checkpoints/task-checkpoint.ipynb
lesson2/.ipynb_checkpoints/task2-checkpoint.ipynb
lesson3/.ipynb_checkpoints/task3-checkpoint.ipynb
lesson4/.ipynb_checkpoints/task4-checkpoint.ipynb
